= render "menu/header"

#wrapper
  #container{data: {image_url: @image_url}}

= render "chat/room"

= javascript_include_tag 'lib/three.min'
= javascript_include_tag 'lib/photo-sphere-viewer'
= javascript_include_tag 'photo_dummy'
= javascript_include_tag 'chat'

